{%extends "layout.html"%}
{%block content%}

<h1><b>About me</b></h1>
<p style="text-align:left;"><i>Hello and welcome to my website.</i> </p>
<p style="text-align:left;"><i>I'm a self taught python programmer. I enjoy learning different frameworks, languages and trying to get better as much as possible and i should mention that i am not an expert programmer by any means. but I have a long background working with computers.</i> </p>
<p style="text-align:left;"><i>Having said that, my first personal computer was C64 so you can get the idea :) I have plus 15 years experience as a desktop support and IT consultant and mostly worked in hardware assembling, upgrade, troubleshooting lines and so on.</i> </p>
<p style="text-align:left;"><i>im interested in web stack, socket programming and working with databases and game developing.</i> </p>
<p style="text-align:left;"><i>I Studied social science and philosophy. I love playing chess, guitar, reading philosophical books and most importantly LOVE CODING. I always wanted to learn how to code and my first language was Qbasic. but I never took it seriously. however about 3 years ago I started to shake things up and studied python vigorously.</i></p>
<p style="text-align:left;"><i>I create this website using the power of Python and flask framework with corporate HTML, CSS and Bootstrap</i></p>
<p style="text-align:left;"><i>Here on my website I am going to share what I learned and of course hopefully learn from others. My plan for this website is to have tutorials, instructions, articles mostly on python and maybe C language.</i></p>
<p>________________________________________________________________________________</p>
<h6 ><b>For more information, job related Questions, Code samples please go to contact me page: </b> </h6>
<a href="{{url_for('contact_me')}}">Contact me</a>

<h6><b>youtube Channel:</b> </h6>
<a href="https://www.youtube.com/c/simplepycodes">https://www.youtube.com/c/simplepycodes</a><br>
{%endblock content%}
